<div class="contenedor">
	<div class="logo">
		<img src="../images/netflix.png" />
	</div>
	<div class="login-form">
		<h2>Inicia sesión</h2>
		<div>
			<div location="usuario"></div>
			<div class="placeLabel">
				Email o número de teléfono
			</div>
		</div>
		
		<div location="password"></div>
		<div location="ingresar"></div>
		<div location="recuerdame"></div>
		<div location="ayuda"></div>
		<div location="face"></div>
		<div location="suscribete"></div>
			
	</div>
	<div class="footer">
	
	</div>

</div>